* {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

@font-face {
    font-family: "Tribeca";
    src: url('./font/tribeca.regular.ttf')
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    font-family: 'Tribeca';
    border-bottom: 1px solid gray;
    box-shadow: 0 5px 5px gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 1rem;
}
.logo, img {
    height: 100%;
    width: auto;
}

.home-wrapper, .lists-wrapper {
    padding: 7rem 1rem;
}
.home-wrapper img{
    max-width: 100%;
    height: auto;
}
.home-wrapper h1 {
    font-family: 'Tribeca';
    padding: 1rem .5rem;
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    border-collapse: collapse;
}
.table .table-heading {
    font-weight: 700;
    background-color: brown;
}
.table .cell {
    list-style: none;
    border: 1px solid black;
    height: 100%;
}